<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action='register' method='post'>
    {% csrf_token %}
    <input type="text" name="Name" placeholder="Name"><br>
    <input type="text" name="UserName" placeholder="UserName"><br>
    <input type="email" name="E-mail" placeholder="E-mail"><br>
    <input type="password" name="Password" placeholder="Password"><br>
    <input type='password' name="Confirm Password" placeholder="Confirm Password"><br>
    <input type="submit">

    </form>
    <div>
        {% for message in messages %}
        <i>{{message}}</i>>
        {% endfor %}
    </div>
</body>
</html>