{% load static %}
{% static 'images' as baseURL %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Registration</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{%static 'images_reg/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor_reg/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts_reg/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts_reg/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor_reg/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{%static 'vendor_reg/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor_reg/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor_reg/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{%static 'vendor_reg/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'css_reg/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{%static 'css_reg/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('static/images_reg/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form" action='registration' method='post'>
					{% csrf_token %}
					<span class="login100-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Registration
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Name">
						<input class="input100" type="text" name="Name" placeholder="Name">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate = "UserName">
						<input class="input100" type="text" name="UserName" placeholder="UserName">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "E-mail">
						<input class="input100" type="email" name="E-mail" placeholder="E-mail">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Password">
						<input class="input100" type="password" name="Password" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>
					<div class="wrap-input100 validate-input" data-validate="Confirm Password">
						<input class="input100" type="password" name="Confirm Password" placeholder="Confirm Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
					</div>

					<div class="container-login100-form-btn">
						<input type="submit" class="login100-form-btn" >
					</div>
				</form>
				<div>
					{% for message in messages %}
					
					<div class="alert alert-success alert-dismissible fade show">
						<strong>{{message}}</strong>
						<button type="button" class="close" data-dismiss="alert">&times;</button>
					</div>
					{% endfor %}
				</div> 
			</div>
		</div>
	</div>
	
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{%static 'vendor_reg/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%static 'vendor_reg/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%static 'vendor_reg/bootstrap/js/popper.js' %}"></script>
	<script src="{%static 'vendor_reg/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%static 'vendor_reg/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%static 'vendor_reg/daterangepicker/moment.min.js' %}"></script>
	<script src="{%static 'vendor_reg/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%static 'vendor_reg/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{%static 'js_reg/main.js' %}"></script>
	

</body>
</html>